## When gold price gets less than 100day moving average then a message will be generated on your mobile

In [8]:
import pandas as pd

In [76]:
# impoting data

gold_price = pd.read_csv("gold-price.csv")

In [77]:
gold_price

    No. of days  Name  Price of Gold
0             1  gold            108
1             2  gold            109
2             3  gold            110
3             4  gold            111
4             5  gold            112
..          ...   ...            ...
95           96  gold            203
96           97  gold            204
97           98  gold            205
98           99  gold              7
99          100  gold            207

[100 rows x 3 columns]

In [90]:
price = gold_price["Price of Gold"]
price

0     108
1     109
2     110
3     111
4     112
     ...
95    203
96    204
97    205
98      7
99    207
Name: Price of Gold, Length: 100, dtype: int64

In [93]:
# moving average

price = gold_price["Price of Gold"]

window_size= 100


gold_price_series =pd.Series(price)

windows = gold_price_series.rolling(window_size)

moving_averages = windows.mean()

moving_averages_list = moving_averages.tolist()

final_list = moving_averages_list[window_size - 1:]

print(final_list)

[139.99]

In [95]:
# just for check


gold_price["average"] = gold_price["Price of Gold"].mean()

In [96]:
gold_price

    No. of days  Name  Price of Gold  average
0             1  gold            108   139.99
1             2  gold            109   139.99
2             3  gold            110   139.99
3             4  gold            111   139.99
4             5  gold            112   139.99
..          ...   ...            ...      ...
95           96  gold            203   139.99
96           97  gold            204   139.99
97           98  gold            205   139.99
98           99  gold              7   139.99
99          100  gold            207   139.99

[100 rows x 4 columns]

In [125]:
gold_price.to_csv("exporting-gold-price.csv")

AttributeError: 'int' object has no attribute 'to_csv'

In [127]:
import requests
import pandas as pd




url="https://www.fast2sms.com/dev/bulkV2"
api_key ="6AliY2jRNCyc4bsWOZJ3Uhqw0o7uLtXexV9PnHk5FIGSzDQKT1S7K49XkweUBH2PDZ8Jhugdi3yjzW6r"

gold_price = 50



if gold_price <= 100:
    a = "message alert"
else:
    a = "it's safe"
    
    


    
print(a)

    
headers={
        "authorization" :"6AliY2jRNCyc4bsWOZJ3Uhqw0o7uLtXexV9PnHk5FIGSzDQKT1S7K49XkweUBH2PDZ8Jhugdi3yjzW6r"
       }

params ={
    "authorization" : "6AliY2jRNCyc4bsWOZJ3Uhqw0o7uLtXexV9PnHk5FIGSzDQKT1S7K49XkweUBH2PDZ8Jhugdi3yjzW6r",
    "message" : a,
    "language": "english",
    "route"   : "q",
    "numbers" : "8789837508"
        }

response = requests.request("GET",url,headers=headers,params=params)
print(response.text)

message alert
{"return":true,"request_id":"up5mfk48x3gwjna","message":["SMS sent successfully."]}